.profile {
    display: flex;
    &__right {
        flex: 9;
        &__bottom {
            display: flex;
        }
    }
    &__cover {
        height: 400px;
        position: relative;
        &__image {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
    &__user {
        &__image {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            position: absolute;
            left: 0;
            right: 0;
            top: 150px+75px;
            margin: auto;
            border: 3px solid white;
        }
        &__name {
            font-size: 24px;
            margin-bottom: 5px;
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
    }
}